<%- include('partials/header') %>
<main>
    <h1>Brother Keers</h1>
    <img class="profile-picture" src="/images/keers.jpg" alt="Brother Keers">
    <p>
        Brother Keers enjoys spending time outdoors, whether it's at the local park, camping, hiking, or swimming. While he enjoys staying active outdoors, he also appreciates relaxing activities like movies with friends, board games, or getting lost in a good book. In Christopher's free time, he enjoys working on carpentry projects and exploring other creative hobbies. Recently, he has developed a passion for travel, aiming to explore two new countries/locations each year.
    </p>
</main>
<%- include('partials/footer') %>